<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ConnectionString1" connectionString="Data Source=localhost;Persist Security Info=True;User ID=project;Password=mentos;Unicode=True" providerName="System.Data.OracleClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
